{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what i am.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="about">
          Hey everybody myself <b>Pradyu</b>, the developer of this blog webapp from <a  class="jec" href="https://jeppiaarcollege.org/jeppiaar/" target="_blank">Jeppiaar Engineering College</a>.
          I'm an Engineering student pursuing my bachelor's degree in Computer Science Engineering. I have developed this blog webapp using python flask framework as my mini proect for web development.
          Kindly susbcribe to my news letter <a href="https://obscure-badlands-87487.herokuapp.com/" target="_blank">here</a>. Contact me for any queries by clicking Contact in the navigation bar
        </p>
        <!-- <p>Checkout my work <a href="https://obscure-badlands-87487.herokuapp.com/">newsletter</a></p> -->

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
