{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what i am.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Hey everybody myself <b>Pradyu</b>, the developer of this blog from <a href="https://jeppiaarcollege.org/jeppiaar/">JEC</a>.
        </p>
        <p>
          I'm a college student pursuing my bachelors in Computer Science Engineering, i've created this Blog website as my initial project due to my interest in Web Development  using Python flask framework.
          i have also developed another newsletter registration website kindly check it out <a href="https://obscure-badlands-87487.herokuapp.com/">here</a>
        </p>
        <!-- <p>Checkout my work <a href="https://obscure-badlands-87487.herokuapp.com/">newsletter</a></p> -->

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
